@layer base {
	:root {
		--font-family-inter: var(--font-inter), sans-serif;
		--font-family-playfair: var(--font-playfair), serif;

		--font-size-8: 0.5rem;
		--font-size-12: 0.75rem;
		--font-size-14: 0.875rem;
		--font-size-15: 0.9375rem;
		--font-size-16: 1rem;
		--font-size-18: 1.125rem;
		--font-size-20: 1.25rem;
		--font-size-22: 1.375rem;
		--font-size-24: 1.5rem;
		--font-size-26: 1.625rem;
		--font-size-32: 2rem;
		--font-size-36: 2.250rem;
		--font-size-42: 2.625rem;
		--font-size-48: 3rem;
		--font-size-54: 3.375rem;
		--font-size-56: 3.5rem;
		--font-size-64: 4rem;
		--font-size-72: 4.5rem;
		--font-size-76: 4.75rem;
		--font-size-80: 5rem;
		--font-size-96: 6rem;

		--font-weight-100: 100;
		--font-weight-200: 200;
		--font-weight-300: 300;
		--font-weight-400: 400;
		--font-weight-500: 500;
		--font-weight-600: 600;
		--font-weight-700: 700;
		--font-weight-800: 800;
		--font-weight-900: 900;

		--color-owl-white: #ffffff;

		--color-owl-gray-200: #fafafa;
		--color-owl-gray-300: #f1f1f1;
		--color-owl-gray-400: #cccccc;
		--color-owl-gray-425: #A9A9A9;
		--color-owl-gray-450: #979797;
		--color-owl-gray-500: #5f5f5f;
		--color-owl-gray-600: #4C4C4C;

		--color-owl-blue-100: #f3f4f6;
		--color-owl-blue-800: #1D1D23;

		--color-owl-purple-500: #a387c8;
		--color-owl-purple-500-faded: #a387c8ea;
		--color-owl-purple-850: #73618C;

		--text-primary-light: var(--color-owl-white);
		--text-primary-dark: var(--color-owl-blue-800);

		--navigation-height: 49px;


		--heading-1: var(--font-size-56);
		--heading-2: var(--font-size-48);
		--heading-3: var(--font-size-32);
		--heading-4: var(--font-size-24);
		--x-small-text: var(--font-size-12);
		--regular-text: var(--font-size-16);
		--large-text: var(--font-size-18);


		// --button-styles: 14px;
		// --product-title-styles: 16px;
		// --product-price: 16px;
		// --nav-link: 20px;
		// --home-link: 24px;
	}

	*, *::before, *::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		position: relative;
		min-width: 300px;
		margin: auto;
		background-color: var(--color-owl-gray-200);
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
		font-family: var(--font-family-inter);
		color: var(--text-primary-dark);
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	button {
		color: inherit
	}

	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
		text-wrap: balance;
	}

	h1,
	h2,
	h3 {
		font-family: var(--font-family-playfair);
	}

	#root, #__next {
		isolation: isolate;
	}

	li {
		list-style-type: none;
	}

	button, a {
		cursor: pointer;
	}
}