.header {
  padding-block: 1rem 0;
  padding-inline: 0.75rem;
}

.heading {
  font-weight: var(--font-weight-300);
  font-size: var(--font-size-22);
}

.closeModalBtn {
  background-color: var(--color-owl-gray-300);
  border-radius: 50%;

  svg {
    width: var(--font-size-36);
    height: var(--font-size-36);
  }

  path {
    stroke: var(--color-owl-gray-900);
    stroke-width: 1px;
  }
}

.modal {
  width: 100%;
  height: 100%;
  background-color: var(--color-owl-white);
}