@use '../../../../../../../shared/styles/breakpoints';

.container {
  flex-grow: 1;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
}

.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid var(--color-owl-blue-800);
  border-color: var(--color-owl-blue-800) transparent var(--color-owl-blue-800) transparent;
  animation: spin 1s linear infinite;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

.separator {
  text-transform: uppercase;
  color: var(--color-text-muted);
  text-align: center;
}

.loadMoreBtn {
  color: var(--color-text-primary);
  text-align: center;
  background-color: var(--color-owl-white);
  border: 1px solid var(--color-border-strong);
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 200ms ease-in;

  &:hover {
    background-color: transparent;
  }
}