.categoryName {
  --fs-small: var(--font-size-22);

  padding-inline: 1rem;

  font-family: var(--font-family-inter);
}

.stuck {
  font-size: var(--fs-small);
}

@media (prefers-reduced-motion: reduce) {
  .categoryName {
    transition: none;
  }
}