.productContainer {
	cursor: pointer;
}

.img {
	object-fit: cover;
}

.detailsBox {
	display: grid;
	grid-auto-columns: auto;
	grid-template-areas:
		'name name'
		'price cartIcon'
	;
	align-items: center;
	gap: 0.5rem;
	padding: 0.75rem;
	background-color: var(--color-owl-gray-200);
}

.name {
	grid-area: name;
	font-size: var(--font-size-22);
	color: var(--color-owl-gray-500);
	font-weight: normal;
	text-align: center;
}

.price {
	grid-area: price;
}

.cartBtn {
	grid-area: cartIcon;
	justify-self: end;

	svg {
		width: var(--font-size-32);
		height: var(--font-size-32);
	}

	path {
		stroke: var(--color-owl-gray-900);
	}
}