.btn {
  gap: 0.25rem;
  padding: 0.25rem 0.75rem;
  border-radius: 30px;
  font-weight: var(--font-weight-700);
  border: 1px solid var(--color-owl-gray-900);


  svg path {
    stroke-width: 2px;
  }

  @media (min-width: 768px) {
    padding: 0.5rem 1rem;
    border: none;
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-500);

    svg {
      width: var(--font-size-26);
      height: var(--font-size-26)
    }

    svg path {
      stroke-width: 1px;
    }
  }
}