.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.button-empty {
  border: none;
  background: none;
  padding: 0.2rem;
}

.block {
  display: block;
}

.w-100 {
  width: 100%;
}

.transition-200 {
  transition: 200ms ease-in-out;
}