.filtersContainer {
  position: sticky;
  height: 100%;
  transition: width 200ms ease-in-out;

  &:not(.open) {
    pointer-events: none;
    visibility: hidden;
  }
}

.filters {
  position: absolute;
  top: 0;
  right: 0;
  gap: 1rem;
  width: 300px;
  padding: 1rem;
  overflow: hidden;
  background-color: var(--color-background-primary);
}

.subcategories {
  gap: 1rem;
}

.subcategory {
  font-weight: var(--font-weight-600);
}

.scrollArea {
  flex: 1;
  min-height: 0;
  gap: 1.5rem;
  overflow-y: auto;
  padding-right: 0.25rem;
}

.content {
  gap: 0.5rem;
}
