.accordion {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.panel {
  --panel-padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.checkboxLabel {
  font-size: var(--font-size-14);
}

.accordionHeader {
  --button-padding: 0rem 0rem 0.5rem 0;
}