@use '../../../../../../../app/styles/breakpoints';

.card {
	border-radius: 5px;
	overflow: clip;
	cursor: pointer;
	box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1);

	&:focus-visible {
		outline-offset: 3px;
	}
}

.thumb {
	position: relative;
	width: 100%;
	height: 350px;
	background: var(--color-owl-gray-200);
}

.img {
	object-fit: cover;
}

.details {
	display: grid;
	row-gap: 0.75rem;
	background: var(--color-owl-gray-200);
	padding: 1rem 0.5rem 0.5rem;
}

.title {
	justify-self: center;
	max-width: 80%;
	font-weight: var(--font-weight-400);
	text-align: center;
}

.bottomContainer {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
}

.price {
	font-weight: var(--font-weight-500);
}

.cartBtn {
	padding: 0.25rem;
	border-radius: 50%;
	background: var(--color-owl-purple-500);

	&:hover {
		background: var(--color-owl-purple-500-faded);
	}

	&:active {
		transform: scale(.96);
	}

	svg {
		inline-size: var(--font-size-28);
		block-size: var(--font-size-28);
	}

	path {
		stroke: var(--color-owl-white);
	}
}

@media (prefers-reduced-motion: reduce) {
	.card, .cartBtn {
		transition: none;
	}
}