@use '../../styles/variables.scss';
@use '../../styles/_mixins.scss';

.navigation {
	&[data-css-position='relative'] {
		position: relative;
		background-color: variables.$muted-purple;
	}

	&[data-css-position='absolute'] {
		position: absolute;
		top: 0;
		background-color: transparent;
	}

	@include mixins.flex-row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0.75rem 2rem;
	color: white;
}

.navigation__links {
	@include mixins.flex-row;
	gap: 2rem;
}
.navigation__link {
	color: white;
}

.logo {
	font-weight: 400;
	font-size: 1.2rem;
}
