@use '../../styles/zindex';
@use '../../styles/breakpoints';

.header {
	z-index: zindex.$header-zindex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: 200ms ease-in-out;
	background-color: var(--color-owl-purple-850);

	&.isTransparent {
		background-color: transparent;
	}

	&:hover {
		background-color: var(--color-owl-purple-850);
		box-shadow: 0 8px 20px 5px rgba(0, 0, 0, 0.2);
	}
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.75rem;

	@media (min-width: breakpoints.$breakpoint-768) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 0.75rem 2rem;
	}
}

.listWrapper {
	justify-self: end;

	@media (max-width: breakpoints.$breakpoint-768) {
		display: none;
	}
}

.logo, .catalogButton {
	color: var(--color-owl-white);
}

.catalogButton {
	font-size: var(--font-size-18);
}

.listWrapper {
	gap: 2rem;
}

.logoLink {
	width: max-content;
}

.logo {
	font-size: var(--font-size-26);
	font-weight: var(--font-weight-400);
}

.cartButton {
	svg {
		width: var(--font-size-32);
		height: var(--font-size-32);
	}

	path {
		stroke: var(--color-owl-white);
	}
}