.nav-hover-underline {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0%;
    width: 100%;
    height: 2px;
    background-color: var(--color-owl-purple-500);
    transition: 200ms ease-in-out;
    transform: scaleX(0);
    transform-origin: center;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}