.filtersContainer {
  position: sticky;
  height: 100%;

  &[data-open="false"] {
    pointer-events: none;
    visibility: hidden;
  }
}

.filters {
  position: absolute;
  top: 0;
  right: 0;
  gap: 1.5rem;
  width: 300px;
  padding: 1rem;
  background-color: var(--color-owl-white);
}

.subcategories {
  gap: 1rem;
}

.subcategory {
  font-weight: var(--font-weight-600);
}

.actions {
  background-color: var(--color-owl-white);
}

.content {
  gap: 2rem;
  overflow-y: auto;
  padding-right: 0.25rem;
}