.productContainer {
	cursor: pointer;
}

.productContainer:hover .img {
	object-position: center 45%;
	opacity: 1;
}

.img {
	width: 100%;
	aspect-ratio: 6 / 7;
	object-fit: cover;
	opacity: 0.9;
	transition: all 0.5s ease-in-out;
}

.detailsBox {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	grid-template-areas: 'name name' 'price cartIcon';
	align-items: center;
	gap: 0.5rem;
	padding: 0.75rem;
	background-color: var(--color-owl-gray-200);
}

.name {
	grid-area: name;
	font-size: 1.2rem;
	color: var(--color-owl-gray-500);
	font-weight: normal;
	text-align: center;
}

.price {
	grid-area: price;
	font-weight: bold;
	font-size: 1rem;
}

.cartBtn {
	grid-area: cartIcon;
	justify-self: end;
	background: none;
	border: none;

	path {
		stroke: var(--color-owl-white);
	}
}