.productContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
		'img img'
		'name name'
		'price cart';
	width: 500px;
	border: 1px solid black;
}

.imgPlaceholder {
	grid-area: img;
}

.name {
	grid-area: name;
	text-align: center;
	font-weight: normal;
}

.price {
	grid-area: price;
	font-weight: bold;
	font-size: 1.6rem;
}

.cartIcon {
	grid-area: cart;
	width: 4rem;
	height: 4rem;
	border: 1px solid black;
}
