@use '../../../../../styles/breakpoints';

.container {
  flex-grow: 1;
}

.productsContainer {
  --product-card-width: max(200px, 40%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--product-card-width), 1fr));
  gap: 1rem;

  @media (min-width: breakpoints.$breakpoint-768) {
    --product-card-width: 310px;
  }

  @media (min-width: breakpoints.$breakpoint-1024) {
    --product-card-width: max(340px, 30%);
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid var(--color-owl-gray-900);
  border-color: var(--color-owl-gray-900) transparent var(--color-owl-gray-900) transparent;
  animation: spin 1s linear infinite;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}