@use '../../../styles/zindex';
@use '../../../styles/breakpoints';

.contentWrapper {
  height: 100vh;
  overflow-y: auto;
  padding-top: 10vmax;
  padding-bottom: 5rem;
  text-align: center;
  background-color: var(--color-owl-purple-850);
  color: var(--color-owl-white);

  @supports (height: 100dvh) {
    height: 100dvh;
  }
}

.hamburgerBtn {
  transform: scale(1);
  justify-self: end;

  svg {
    width: var(--font-size-32);
    height: var(--font-size-32);
  }

  &.isScrolled {
    transform: scale(0.85);
  }
}

.linkWrapper {
  border-top: 1px solid var(--color-owl-purple-500);
  border-bottom: 1px solid var(--color-owl-purple-500);
}

.cartSvg {
  width: var(--font-size-48);
  height: var(--font-size-48);

  path {
    stroke: var(--color-owl-white);
  }
}

.button {
  path {
    stroke: var(--color-owl-white);
  }
}

.closeModalBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  svg {
    width: 3rem;
    height: 3rem;
  }

  path {
    stroke: var(--color-owl-white);
    stroke-width: 1px;
  }
}

.modal {
  width: 100%;
  height: 100%;
}