@use '../../styles/zindex';

.overlay {
  z-index: zindex.$modalOverlay-zindex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: relative;
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}