@use '../../../../../shared/styles/breakpoints';
@use '../../../../../shared/styles/zindex';

.stickyContainer {
  z-index: zindex.$category-filters;
  column-gap: 1rem;
  background-color: var(--color-background-primary);
  transition: box-shadow 200ms ease-in-out, top 200ms ease-in-out;

  @media (min-width: breakpoints.$breakpoint-1024) {
    position: sticky;

    &IsStuck {
      box-shadow: 0 10px 24px rgba(0, 0, 0, .06);
    }
  }
}

.sentinel {
  display: none;

  @media (min-width: breakpoints.$breakpoint-1024) {
    display: block;
  }
}