@use '../../../../../shared/styles/breakpoints';
@use '../../../../../shared/styles/zindex';

.container {
	max-width: 1920px;
	margin: var(--navigation-height) auto 0;
}

.productsContainer {
	display: flex;
	padding-inline: 1rem;

	@media (min-width: breakpoints.$breakpoint-1024) {
		--filters-products-distance: 1.5rem;
		padding-inline: 0;
		padding-right: var(--filters-products-distance);
		gap: var(--filters-products-distance);
	}
}