.categoryName {
  --fs-small: var(--font-size-22);
  font-size: var(--font-size-22);

  @media(min-width: 1024px) {
    font-size: var(--font-size-26);
  }
}

.stuck {
  font-size: var(--fs-small);
}

@media (prefers-reduced-motion: reduce) {
  .categoryName {
    transition: none;
  }
}