@use '../../../../../styles/breakpoints';
@use '../../../../../styles/zindex';

.container {
	max-width: 1920px;
	margin: var(--navigation-height) auto 0;
	row-gap: 1rem;
	padding: 2.5rem 1rem;

	@media (min-width: breakpoints.$breakpoint-768) {
		padding: 3rem 2rem;
	}
}

.categoryName {
	text-align: start;
	color: var(--color-owl-gray-900);
	font-size: var(--font-size-26);
	font-weight: var(--font-weight-400);
	background-color: var(--color-owl-white);
}

.stickyContainer {
	z-index: zindex.$catalog-filters;
	position: sticky;
	top: 10px;
	column-gap: 1rem;
	min-height: 3.125rem;
	padding: 0.5rem;
	background-color: var(--color-owl-white);
}