@use '../../styles/zindex';
@use '../../styles/breakpoints';

.dropdown {
  overflow: hidden;
  width: 100%;

  @media (max-width: breakpoints.$breakpoint-768) {
    border-bottom: 1px solid var(--color-owl-purple-500);
  }
}

.wrapper {
  display: grid;
  grid-auto-columns: auto;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-200);
  color: var(--color-owl-white);

  @media (min-width: breakpoints.$breakpoint-768) {
    border-top: 2px solid var(--color-owl-purple-500);
  }
}