@use '../../../../styles/breakpoints';

.container {
	position: relative;
	display: grid;
	grid-auto-rows: auto;
	// background-color: var(--color-owl-blue-800);
	background-color: var(--color-owl-purple-850);
	overflow: hidden;

	@media (min-width: breakpoints.$breakpoint-768) {
		grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
	}

	@media (min-width: breakpoints.$breakpoint-1024) {
		height: 100vh;
	}
}

.textContentContainer {
	row-gap: 5rem;
	min-height: 500px;
	height: 100vh;
	padding: 0.75rem;
	// background-color: var(--color-owl-purple-850);
	// background-image: linear-gradient(172deg, var(--color-owl-purple-850) 50%, var(--color-owl-blue-800) 100%);
	text-align: center;

	@media (orientation: landscape) and (max-height: breakpoints.$breakpoint-480) {
		row-gap: 2rem;
		min-height: 360px;
	}

	@media (min-width: breakpoints.$breakpoint-1024) {
		row-gap: 3rem;
		padding: 1.5rem;
	}
}

.heading {
	line-height: 1.3;
	font-size: var(--font-size-54);
	font-size: clamp(var(--font-size-54), calc(12vw + 0.1rem), var(--font-size-76));
	color: var(--color-owl-white);

	span {
		display: inline-block;
		margin-right: 0.25em;
		text-shadow: 4px 11px 5px rgba(0, 0, 0, 0.15);
	}

	@media (orientation: landscape) and (max-height: breakpoints.$breakpoint-480) {
		font-size: var(--font-size-54);
	}

	@media (min-width: breakpoints.$breakpoint-1024) {
		max-width: 700px;
		font-size: var(--font-size-64);
		font-size: clamp(var(--font-size-64), calc(6vw + 0.1rem), var(--font-size-96));
	}
}

.shopBtn {
	min-width: 15rem;
	max-width: 100%;
	padding: 0.625rem 5rem;
	border: none;
	border-radius: 25px;
	font-size: var(--font-size-18);
	font-weight: var(--font-weight-500);
	color: var(--color-owl-white);
	background-color: var(--color-owl-purple-400);
	box-shadow: 4px 11px 5px rgba(0, 0, 0, 0.15);

	&:hover {
		background-color: var(--color-owl-purple-500);
	}

	@media (min-width: breakpoints.$breakpoint-1024) {
		min-width: 18rem;
		padding-block: 0.75rem;
	}
}

.heroImage {
	min-height: 500px;
	height: 100vh;
	object-fit: cover;
}

.toggleScene {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 120px;
	height: auto;
	transform-box: fill-box;
	transform-origin: 50% 0%;
	animation: swing 6s infinite;
	animation-timing-function: linear;
	will-change: transform;
}

@keyframes swing {
	0% {
		transform: rotate(0deg);
		animation-timing-function: ease-out;
	}

	25% {
		transform: rotate(6deg);
		animation-timing-function: ease-in;
	}

	50% {
		transform: rotate(0deg);
		animation-timing-function: ease-out;
	}

	75% {
		transform: rotate(-6deg);
		animation-timing-function: ease-in;
	}

	100% {
		transform: rotate(0deg);
	}
}

.cordEnd {
	fill: #272727;
}

.cords {
	stroke: #cfcfcf;
}

.bulb {
	stroke: #eaeaea26;
}

.cap {
	fill: #ffffff;
}

.capShine {
	fill: #ffffff;
	// fill: var(--color-owl-blue-800);
}

.filament {
	stroke: #d8c51e;
}

.flash {
	stroke: #d8c51e;
}

.shine {
	stroke: rgba(193, 198, 71, 0.752);
}

.bulbShape {
	fill: #ffffff1c
}