@use '../../../../styles/breakpoints';

.container {
	display: grid;
	grid-auto-rows: auto;
	background-color: var(--color-owl-blue-800);

	@media (min-width: breakpoints.$breakpoint-768) {
		grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
	}

	@media (min-width: breakpoints.$breakpoint-1024) {
		height: 100vh;
	}
}

.textContentContainer {
	row-gap: 5rem;
	min-height: 500px;
	height: 100vh;
	padding: 0.75rem;
	background-color: var(--color-owl-purple-850);
	text-align: center;

	@media (orientation: landscape) and (max-height: breakpoints.$breakpoint-480) {
		row-gap: 2rem;
		min-height: 360px;
	}

	@media (min-width: breakpoints.$breakpoint-1024) {
		row-gap: 3rem;
		padding: 1.5rem;
	}
}

.heading {
	font-size: var(--font-size-54);
	font-size: clamp(var(--font-size-54), calc(12vw + 0.1rem), var(--font-size-76));
	color: var(--color-owl-white);

	@media (orientation: landscape) and (max-height: breakpoints.$breakpoint-480) {
		font-size: var(--font-size-54);
	}

	@media (min-width: breakpoints.$breakpoint-1024) {
		max-width: 700px;
		font-size: var(--font-size-64);
		font-size: clamp(var(--font-size-64), calc(6vw + 0.1rem), var(--font-size-96));
	}
}

.shopBtn {
	width: 15rem;
	padding: 0.75rem 2rem;
	border: none;
	border-radius: 25px;
	font-size: var(--font-size-18);
	color: var(--color-owl-white);
	background-color: var(--color-owl-purple-400);

	&:hover {
		background-color: var(--color-owl-purple-500);
	}
}

.heroImage {
	min-height: 500px;
	height: 100vh;
	object-fit: cover;
}