@use '../../../../../styles/breakpoints';
@use '../../../../../styles/zindex';

.container {
	max-width: 1920px;
	margin: var(--navigation-height) auto 0;
	row-gap: 1rem;
	padding-block: 2.5rem;

	@media (min-width: breakpoints.$breakpoint-768) {
		padding-block: 3rem;
	}
}

.header {
	padding-inline: 1rem;

	@media (min-width: breakpoints.$breakpoint-768) {
		padding-inline: 2rem;
	}
}

.productsContainer {
	padding-right: 1rem;

	@media (min-width: breakpoints.$breakpoint-768) {
		padding-right: 2rem;
		gap: 2rem;
	}
}